@import '../../styles/colors';
@import '../../styles/mixins';
@import '../../styles/shadows';

$color-error-bg: palette(error, 900);
$color-alert-bg: palette(feedback, 900);

.notificationsContainer {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  z-index: $z-index-notifications;
  pointer-events: none;
}

.container {
  @include shadow(4);

  pointer-events: all;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 60%;
  max-width: 700px;
  margin: 0 auto;
  height: 60px;
  max-height: 0;
  margin-bottom: 3px;
  padding: 0 20px;
  overflow: hidden;

  transition: max-height ease 0.3s;

  span,
  svg {
    color: font-color(light);
    font-size: 13px;
    transition: font-size ease 0.3s;

    &:hover {
      color: white;
      font-size: 13.2px;
    }
  }

  &.MESSAGE {
    background-color: $color-alert-bg;
  }

  &.ERROR {
    background-color: $color-error-bg;
  }
}

.notificationsContainer .container:first-of-type {
  border-radius: 12px 12px 0 0;
}

.message {
  @include font-small;
  font-weight: 600;
  color: white;

  padding: 0 20px;
  margin-right: auto;
  overflow: hidden;
}
