@import '../../../../../../styles/mixins';
@import '../../../../../../styles/colors';
@import '../../../../../../styles/shadows';

.container {
  @include shadow(4);

  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  background-color: $bg-box;
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 13px 18px;
  transition: all ease 2s;

  p {
    margin: 0;
  }
}

.title {
  @include font-body;
  color: font-color(light);
}

.infoNumber {
  color: font-color(highlight);
  font-weight: 400;

  &.regular {
    @include font-title;
  }
  &.big {
    @include font-headline;
  }
}

.expandIcon {
  position: absolute;
  top: 16px;
  right: 16px;
  cursor: pointer;
  transition: color ease 0.4s;
  z-index: 1;

  &:hover {
    color: font-color(light);
  }
}
