@import '../../../styles/mixins';

.content {
  display: flex;
  flex-direction: row;
  height: 100%;
  overflow: hidden;
  transition: padding ease 0.4s;
}

.withLogs {
  padding-bottom: $logs-height;
}
