@import '../../../../../../../styles/mixins';
@import '../../../../../../../styles/funcs';
@import '../../../../../../../styles/colors';

$color-tabs-bg: palette(lowlight, 800);

.container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 100%;
  background-color: $color-tabs-bg;
}
