@import '../../../../../../../styles/mixins';
@import '../../../../../../../styles/funcs';
@import '../../../../../../../styles/colors';

.container {
  display: flex;
  align-items: center;

  transition: height ease 0.3s;

  &.opened {
    height: 4 * $grid-unit;
    flex-shrink: 0;

    .buttons {
      opacity: 1;
    }

    .title {
      pointer-events: none;
    }
  }
}

.title {
  @include font-caption;
  color: font-color(lowlight);

  display: flex;
  align-items: center;
  margin: 0 20px 0 20px;
  transition: color ease 0.3s;
  cursor: pointer;

  svg {
    margin: 4px 1.5 * $grid-unit 0 0;
  }

  &:hover {
    color: font-color(light);
  }
}

.runtime {
  @include font-body;
  color: font-color(light);
}

.version {
  @include font-body;
  color: font-color(light);

  margin-left: 16px;
}

.buttons {
  display: flex;
  flex-direction: row;
  transition: opacity ease 0.4s;
  margin: 4px 8px 0 auto;

  div {
    margin-left: 8px;
    cursor: pointer;

    &:hover {
      color: font-color(light);
    }
  }
}

.stickBottom {
  transition: color ease 0.4s, background-color ease 0.4s;

  &.active {
    color: font-color(light);
    background-color: $bg-color-lighter;

    &:hover {
      color: font-color(light);
    }
  }
}
